<div id="map"
     data-controller="map"
     data-map-target="container"
     data-map-icon-value="<%= image_path("marker-icon.png") %>"
     data-map-location-outlet=".location"
     data-action="location:selectLocation@window->map#setSelectedLocation location:addLocation@window->map#addLocation location:removeLocation@window->map#removeLocation"
     class="sticky top-10 mb-10 h-96"></div>

<%= turbo_stream_from(:locations) %>

<table class="min-w-full border-collapse">
  <thead class="sticky top-[calc(24rem+2.5rem)] bg-white">
    <tr>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900" >Time</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Latitude</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Longitude</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Battery status</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Battery level</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Internet</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Wifi</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Mode</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Trigger</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">POI</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Tag</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Regions</th>
    </tr>
  </thead>

  <tbody id="locations" class="bg-white">
    <% @locations.each do |location| %>
      <%= render partial: "location_row", locals: { location: location } %>
    <% end %>
  </tbody>
</table>
